<%= turbo_frame_tag "repositories" do %>
    <% @repositories.each do |repository| %>
        <div>
            <%= link_to(repository['name'], repository['html_url'], target: '_blank') %>
        </div>
    <% end %>
<% end %>
